<div class="cardd">
    <!--possível stylirizar card por card-->
    <!--o foreach vai criar várias div para separar em vários cardizinhos-->
<a href=""><img id="tamanho2"  src=" <%= filme.imagem %>" alt=""></a>
    <!-- essa sintex que pegamos links do JS esse sinal de = é porque é apresentado uma variável para acessar os itens de um OBJETO colocamos o PONTO-->
    <h2>
        <%= filme.nome %>
    </h2>
    <p class="descricao">
        <%= filme.descricao %>
    </p>
    <p>Tipo: <%= filme.tipo %>
    </p>
    <p id="doId"> Id <%= filme.id %></p><!-- o sinal de igual foi essencial para funcionar-->
    
</div>


</body>
</html>