<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('./components/head') %><!--assim que chamamos o head em componentes pra ca-->
<body id="body4">
    
    
    <header id="header4">
        <ul><li><a href="/"> <h2>Menu Principal</h2></a></li></ul>
    </header>

    <section id="cardss">
        <!--section card  possível stylirizar-->
        <%  FilmesBronson.forEach((filme)=> { %>
            <!--essa estrutura precisa ser fechada na emsma linha   <%  %>-->
            <div class="cardd">
                <!--possível stylirizar card por card-->
                <!--o foreach vai criar várias div para separar em vários cardizinhos-->
            <a href="/screm/<%=filme.id%>"><img id="tamanho2"  src=" <%= filme.imagem %>" alt=""></a>
                <!-- essa sintex que pegamos links do JS esse sinal de = é porque é apresentado uma variável para acessar os itens de um OBJETO colocamos o PONTO-->
                <h2>
                    <%= filme.nome %>
                </h2>
                <p class="descricao">
                    <%= filme.descricao %>
                </p>
                <p>Tipo: <%= filme.tipo %>
                </p>
                <p id="doId"> Id <%= filme.id %></p><!-- o sinal de igual foi essencial para funcionar-->
                <a id="apagar" href="/delete/<%=filme.id%>">Apagar</a>
                <a id="editar" href="/novo/<%=filme.id%>">Editar</a>
            </div>
            <% }) %>
                <!--precisamos dessa sintex para escrever em javaScript no thml-->
    </section>
    <!--FORMULÁRIO-->


</body>
</html>